<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>All Users</h1>
    <% if(users&&users.length>=1){ %>
        <ul>
            <% users.forEach((user)=>{%>
                <li style="border: 1px solid black; width: 300px; padding-left: 10px;">
                    Username : <%=user.name%> <br>
                    Email: <%=user.email%> <br>
                    Phone_no: <%=user.phone_no%> <br>
                    Birth_date: <%=user.birth_date%> <br>
                    <br>

                    <form action="/delete/<%=user._id%>?_method=DELETE"method="POST">
                     <button type="submit">Delete</button>
                  </form>

                   <form action="/update/<%=user._id%>" method="get">
                     <button>Update</button>
                   </form>
                </li>
               
                 
                 <br>
            <%})%>
        </ul>
    <%}%>

</body>
</html>