<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update the user</h1>

   
    <form action="/update/<%=user._id%>/?_method=PUT" method="POST">

        <label for="name">Name</label>
        <input type="text" name="change[name]" id="name" value="<%=user.name%>">
        <br>
        <br>

        <label for="email">Email</label>
        <input type="text" name="change[email]" id="email" value="<%=user.email%>">
         <br>
        <br>

        <label for="phone_no">Phone No</label>
        <input type="number" name="change[phone_no]" id="phone_no" value="<%=user.phone_no%>">
         <br>
        <br>

        <label for="birth_date">Birth_Date</label>
        <input type="date" name="change[birth_date]" id="birth_date" value="<%=user.birth_date%>">
         <br>
        <br>

        <button>Submit</button>
    </form>
</body>
</html>